@page "/"
@inject UIService Service

<NavComponent UICartService="Service" />
@*s<MenuComponent />
<CarouselComponent />
<CardListComponent />

 *@
<div id="viewport" class="d-flex vh-100">
    <CascadingValue Value="Service" Name="Service"> @*CascadingValue Value är ett sätt för oss att kunna skicka in objekt/sträng/värde och flöda igenom alla komponenter.*@
        <AsideComponent OnChange="OnChange"/>
        <ProductMainComponent OnChange="OnChange" />
     </CascadingValue>
</div>
<footer class="footer">
    <!--add to center-->
   
    <div class="container">
        <div class="row">
            <div class="col text-center" style="margin-top: 50px;">
                <a href="Chic Vows" class="custom-link me-3"><i class="bi bi-facebook fs-3"></i></a>
                <a href="Chic Vows" class="custom-link me-3"><i class="bi bi-instagram fs-3"></i></a>
                <a href="chicVows@gmail.com" class="custom-link"><i class="bi bi-envelope fs-3"></i></a>
            </div>
        </div>
    </div>
</footer>

@code{
    void OnChange()
    {

    }
}

