@page "/"
@inject UIService Service

<NavComponent UICartService="Service" />
@*s<MenuComponent />
<CarouselComponent />
<CardListComponent />

 *@
<div id="viewport" class="d-flex vh-100">
    <CascadingValue Value="Service" Name="Service"> @*CascadingValue Value är ett sätt för oss att kunna skicka in objekt/sträng/värde och flöda igenom alla komponenter.*@
        <AsideComponent OnChange="OnChange"/>
        <ProductMainComponent OnChange="OnChange" />
     </CascadingValue>
</div>

@code{
    void OnChange()
    {

    }
}

